::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    background-color: #f1f3f5;
}

a {
    color: #15b89a;
    text-decoration: none;
    position: relative;
    transition: color 500ms ease-out;
}

a:hover, a:active {
    color: #14af83;
    text-decoration: none;
}

a:hover::after {
    border-color: #14af83;
    right: 0;
}

a::after {
    border-radius: 10px;
    border-top: .1em solid #15b89a;
    content: "";
    position: absolute;
    right: 100%;
    bottom: 3px;
    left: 0;
    transition: right 500ms cubic-bezier(0, .5, 0, 1),
                border-color 500ms ease-out;
}

.wrapper {
    text-align: center;
}

.page.wrapper {
    padding: 2em;
}

.title.wrapper {
    display: inline-block;
    width: 60vw;
    padding-top: 3em;
}

.tutorial.title.wrapper {
    background-color: #f1f3f5;
    position: sticky;
    top: -55px;
    text-align: left;
    width: 50vw;
    z-index: 3;
}

.tutorial.title.wrapper.sticked {
    box-sizing: border-box;
}

.title.wrapper > .title {
    font-size: 49px;
    font-weight: lighter;
    margin: 0.5em 0;
}

.tutorial.title.wrapper > .title {
    font-size: 39px;
    margin-top: 0.7em;
    text-align: center;
    transition: 300ms ease;
    width: 0;
    white-space: nowrap;
}

.tutorial.title.wrapper.sticked > .title {
    font-size: 30px;
    box-sizing: border-box;
    width: 100%;
}

.title.wrapper > .description {
    font-size: 14px;
    letter-spacing: 3px;
    color: #678;
}

.quickMenu.wrapper {
    margin-top: 3em;
    width: 60vw;
    display: inline-block;
}

.quickMenu.wrapper > .row {
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 8px;
    width: 100%;
}

.quickMenu.wrapper > .row > .item {
    background-color: #6f8793;
    color: #fff;
    border-radius: 4px;
    font-size: 0.9em;
    letter-spacing: 5px;
    text-align: left;
    padding: 0.3em 0 0.3em 2em;
    cursor: pointer;
    user-select: none;
}

.quickMenu.wrapper > .row > .item:hover {
    background-color: #678;
}

.quickMenu.wrapper > .row > .green.item {
    background-color: #15b89a;
}

.quickMenu.wrapper > .row > .green.item:hover {
    background-color: #14af83;
}

.quickMenu.wrapper > .row > .purple.item {
    background-color: #745fb5;
}

.quickMenu.wrapper > .row > .purple.item:hover {
    background-color: #5f4aa1;
}

.content.wrapper {
    width: 60vw;
    display: inline-block;
    text-align: left;
    margin-top: 3em;
    counter-reset: item;
    font-size: 1.3em;
}

.content.wrapper .content {
    padding: 10px 2em;
    list-style: none;
    position: relative;
    border-bottom: 1px solid rgba(102,119,136,.2);
}

.content.wrapper .content::before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #959595;
    position: absolute;
    top: 10px;
    left: 0;
}

.back.button, .back.button:visited {
    color: #678;
    text-decoration: none;
    width: 48px;
    height: 48px;
    line-height: 46px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    transition: all 100ms linear;
    position: fixed;
    top: 10px;
    left: 15px;
    z-index: 5;
}

.back.button:hover {
    color: #fff !important;
    background-color: #745fb5;
    opacity: 1;
}

.back.button::before {
    content: "";
    display: inline-block;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22rgb(51%2C68%2C85)%22%20d%3D%22M427%20234.625H167.296l119.702-119.702L256%2085%2085%20256l171%20171%2029.922-29.924-118.626-119.7H427v-42.75z%22%2F%3E%3C%2Fsvg%3E") center center/24px 24px no-repeat;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    text-decoration: inherit;
}

.back.button:hover::before {
    content: "";
    display: inline-block;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22rgb(255%2C255%2C255)%22%20d%3D%22M427%20234.625H167.296l119.702-119.702L256%2085%2085%20256l171%20171%2029.922-29.924-118.626-119.7H427v-42.75z%22%2F%3E%3C%2Fsvg%3E") center center/24px 24px no-repeat;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    text-decoration: inherit;
}

.back.button::after {
    transition: none;
    border-top: none;
}

.article.wrapper {
    text-align: left;
    display: inline-block;
    width: 50vw;
    margin-top: 1em;
}

.article.wrapper > p {
    font-size: 1.2em;
    font-weight: 400;
    margin: 1em 0;
}

.article.wrapper > h1 {
    font-size: 2.3em;
    color: #745fb5;
    margin: 1.3em 0;
}

.article.wrapper > h2 {
    font-size: 2em;
    color: #745fb5;
    margin: 1.3em 0;
}

.article.wrapper > h3 {
    font-size: 1.7em;
    color: #745fb5;
    margin: 1.3em 0;
}

.article.wrapper > h4 {
    font-size: 1.5em;
    color: #745fb5;
    margin: 1.3em 0;
}

.article.wrapper > div {
    width: 100%;
    border: 3px solid rgba(102,119,136,.2);
    border-radius: 7px;
    box-sizing: border-box;
    padding: 5px 1em;
    margin: 2em 0;
}

.article.wrapper > div > .title {
    font-size: 1.1em;
    font-weight: bold;
}

.article.wrapper > .eval-code {
    background-color: #745fb5;
    border: none;
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 100%;
    float: right;
}

.article.wrapper > .eval-code:hover {
    background-color: #5f4aa1;
}

.svg-icon {
    margin: 4px 0 0 -1px;
    width: 20px;
    height: 20px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #fff;
}

.svg-icon circle {
    stroke: #fff;
    stroke-width: 1;
}

@media only screen and (max-width: 700px) {
    .article.wrapper {
        width: 90vw;
    }

    .title.wrapper {
        width: 90vw;
    }

    .tutorial.title.wrapper {
        width: 90vw;
    }

    .tutorial.title.wrapper > .title {
        font-size: 32px;
    }

    .tutorial.title.wrapper.sticked > .title {
        font-size: 27px;
    }

    .title.wrapper > .title {
        font-size: 40px;
    }

    .title.wrapper > .description {
        font-size: 14px;
    }

    .quickMenu.wrapper {
        width: 90vw;
    }

    .quickMenu.wrapper > .row{
        grid-template-columns: auto auto;
    }

    .page.wrapper {
        padding: 1em;
    }

    .content.wrapper {
        width: 90vw;
    }

    .content.wrapper ol {
        padding-inline-start: 0;
    }

    .back.button {
        top: 7px;
    }
}