::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    background-color: #f1f3f5;
}

a {
    color: #15b89a;
    text-decoration: none;
    position: relative;
    transition: color 500ms ease-out;
}

a:hover, a:active {
    color: #14af83;
    text-decoration: none;
}

a:hover::after {
    border-color: #14af83;
    right: 0;
}

a::after {
    border-radius: 10px;
    border-top: .1em solid #15b89a;
    content: "";
    position: absolute;
    right: 100%;
    bottom: 3px;
    left: 0;
    transition: right 500ms cubic-bezier(0, .5, 0, 1),
                border-color 500ms ease-out;
}

.wrapper {
    text-align: center;
}

.page.wrapper {
    padding: 2em;
}

.title.wrapper {
    display: inline-block;
    width: 60vw;
    padding-top: 3em;
}

.title.wrapper > .title {
    font-size: 49px;
    font-weight: lighter;
    margin: 0.5em 0;
}

.title.wrapper > .description {
    font-size: 14px;
    letter-spacing: 3px;
    color: #678;
}

.quickMenu.wrapper {
    margin-top: 3em;
    width: 60vw;
    display: inline-block;
}

.quickMenu.wrapper > .row {
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 8px;
    width: 100%;
}

.quickMenu.wrapper > .row > .item {
    background-color: #6f8793;
    color: #fff;
    border-radius: 4px;
    font-size: 0.9em;
    letter-spacing: 5px;
    text-align: left;
    padding: 0.3em 0 0.3em 2em;
    cursor: pointer;
    user-select: none;
}

.quickMenu.wrapper > .row > .item:hover {
    background-color: #678;
}

.quickMenu.wrapper > .row > .green.item {
    background-color: #15b89a;
}

.quickMenu.wrapper > .row > .green.item:hover {
    background-color: #14af83;
}

.quickMenu.wrapper > .row > .purple.item {
    background-color: #745fb5;
}

.quickMenu.wrapper > .row > .purple.item:hover {
    background-color: #5f4aa1;
}

.content.wrapper {
    width: 60vh;
    display: inline-block;
    text-align: left;
    margin-top: 3em;
    counter-reset: item;
    font-size: 1.2em;
}

.content.wrapper .content {
    padding: 10px 2em;
    list-style: none;
    position: relative;
}

.content.wrapper .content::before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #959595;
    position: absolute;
    top: 10px;
    left: 0;
}